header.header{
      display: flex;
      align-items: center;
      justify-content: left;
      color: var(--off-black);
      background: none;
      box-shadow: 0 2px 4px 0 rgba(0, 0, 0, 0.06);
      padding: var(--spacing-500) var(--spacing-1000);

}

.fixed-top {
      position: fixed;
      top: 0;
      right: 0;
      left: 0;
      z-index: 10;
      height: var(--spacing-1000);
}